{% extends "layout.twig" %}

{% block content %}
    <form action="/tab/open/post" method="post">
        <div class="form-group">
            <label for="table-number">Table number</label>
            <input type="text" class="form-control" id="table-number" name="tableNumber">
        </div>
        <div class="form-group">
            <label for="waiter">Waiter/Waitress</label>
            <select class="custom-select" name="waiter">
                <option selected>Open this select menu</option>
                {% for name in staff %}
                <option value="{{name}}">{{name}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}