###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###< tests ###
/tests/_reports
/tests/clover.xml
###> tests ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
/.phpcs-cache
###< friendsofphp/php-cs-fixer ###
