
version: "3.1"
services:
  php-fpm:
    image: devilbox/php-fpm:8.0-work
    container_name: cafe-fpm
    working_dir: /application
    volumes:
      - .:/application:cached
    ports:
    - 8001:8000
    entrypoint: "php -S 0.0.0.0:8000 -t public"
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    container_name: cafe-mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root-cafe
      MYSQL_DATABASE: cafe-db
      MYSQL_USER: cafe-user
      MYSQL_PASSWORD: cafe-pass
    ports:
      - 3307:3306