{% extends 'base.html.twig' %}
{% block title %}{{ 'home.opened'|trans }}{% endblock %}
{% block content %}
    <div class="row row-cols-4">
        {% for tableNumber in activeTables.activeTableNumbers() %}
            <div class="col">
                <div class="open-table">
                    <a href="{{ path('tab_status', {tableNumber : tableNumber}) }}">{{ tableNumber }}</a>
                </div>
            </div>
        {% else %}
            <div class="col">
                {{ 'tab.no_open'|trans({'%open_tab_url%': open_tab_url})|raw }}
            </div>
        {% endfor %}
    </div>
{% endblock %}