{% extends 'base.html.twig' %}
{% block title %}Open tab{% endblock %}
{% block content %}
    <form name="open_tab" method="post">
        <div id="open_tab">
            <div class="form-group">
                <label for="open_tab_tableNumber" class="required">Table number</label>
                <input type="number" id="open_tab_tableNumber" name="tableNumber" required="required" class="form-control">
            </div>
            <div class="form-group">
                    <label class="required" for="open_tab_waiter">Waiter</label>
                    <select id="open_tab_waiter" name="waiter" class="form-control">
                        {% for waiter in waiters %}
                        <option value="{{ waiter }}">{{ waiter }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button type="submit" id="open_tab_save" name="save" class="btn-primary btn">Open Tab</button>
            </div>
        </div>
    </form>
{% endblock %}