{% extends 'base.html.twig' %}
{% block title %}Place order{% endblock %}
{% block content %}
    <form method="post" action="{{ path('tab_order', {'tableNumber': tableNumber}) }}">
        <fieldset>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Menu #</th>
                        <th scope="col">Description</th>
                        <th scope="col">Number To Order</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in menu %}
                <tr>
                    <td>{{ item.menuNumber }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <input type="number" name="quantity[{{ item.menuNumber }}]" value="0">
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Place Order</button>
        </fieldset>
    </form>
{% endblock %}
